.center {
    text-align: center;
  }
  * {
    font-family: 'Times New Roman', Times, serif;
  }
   p {
    font-size: 18px;
    word-spacing: 8px;
   }
  
   .main {
    width: 500px;
    margin: auto;
   }